# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:
# Load the csv exported in Part I to a DataFrame and read it
file = 'city_data.csv'
city_data_df = pd.read_csv(file)
city_data_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,ancud,-41.8697,-73.8203,42.01,100,20,3.44,CL,1620702783
1,1,port lincoln,-7.0349,29.7638,67.35,76,50,6.40,CD,1620702783
2,2,luderitz,-26.6481,15.1594,68.52,41,0,4.21,NaN,1620702784
3,3,kupang,-10.1667,123.5833,87.80,58,20,18.41,ID,1620702784
4,4,albany,42.6001,-73.9662,51.01,75,87,5.84,US,1620702772

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [8]:
# Configure gmaps. Access maps with unique API key
gmaps.configure(api_key=g_key)

In [13]:
# Use the Lat and Lng as locations and Humidity as the weight.
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"].astype(float)
max_humidity = humidity.max()

In [14]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=max_humidity,
                                 point_radius=2)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [16]:
# Narrow down the cities to fit weather conditions.
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
narrow_down_df = city_data_df.loc[(city_data_df["Max Temp"] > 70) & (city_data_df["Max Temp"] < 80) & (city_data_df["Wind Speed"] < 10) & (city_data_df["Cloudiness"] == 0), :]

# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
narrow_down_df = narrow_down_df.dropna(how='any')
narrow_down_df.reset_index(inplace=True)
del narrow_down_df['index']
narrow_down_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,12,dali,25.7000,100.1833,71.62,41,0,6.53,CN,1620702786
1,210,olimpia,-20.7372,-48.9147,73.40,49,0,2.30,BR,1620702857
2,315,jalu,29.0331,21.5482,72.61,33,0,8.48,LY,1620702893
3,452,ramhormoz,31.2800,49.6035,77.00,41,0,9.22,IR,1620702944
4,464,abu dhabi,24.6000,72.7000,75.49,48,0,7.72,IN,1620702947

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure